{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}
{% block scripts %}
    window.REACT_SERVER_PROPS = {
        user : {
            name: "{{ user.name }}",
            email: "{{ user.email }}"
        }
    }
{% endblock %}

 {% block title %} hirefly.de | Dashboard | {{ user.name }} {% endblock %}

 {% block body %}
     <div id="root"></div>
 {% endblock %}