input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select {
    width: 400px;
}

label {
    margin-top: 1rem;
}

label.checkbox {
    font-weight: normal;
}

button[type="submit"] {
    margin-top: 0rem;
}

.MuiPaper-root {
    background-color: var(--gray-1) !important;
}

.MuiTableCell-root.profilePic {
    padding: 0;
}

.MuiTableCell-root {
    border-bottom: 1px dotted var(--gray-1-70) !important;
}

.MuiTableCell-body, .MuiTableCell-head {
    color: var(--gray-2-30) !important;
}

.EditorNaked-paper-1 {
    background-color: var(--gray-1) !important;
}
